.body{
	background-image:url(https://i.pinimg.com/originals/88/15/63/881563d6444b370fa4ceea0c3183bb4c.gif);
	background-repeat:no-repeat;
	background-size:cover;
}
.title{
    color: White;
	text-align: center;
	font-family: 'Tahoma';
	font-size: 8vh;
	font-style: normal;
	font-weight: 900;

}
.subtitle{
    color: aqua;
	text-align: center;
	font-family: 'Tahoma';
	font-size: 4vh;
	font-style: normal;
	font-weight: 900;
}
.calculator{
    width:450px;
    height:450px;
	background-color:blue;
}
.Boton{
	Padding: 20px;
	background-color:#FFD133;
	Color:blue;
	border-radius: 50px;
    Font-weight: 900;