.html{
	height:100%;
}

.body{
	background-image:url(https://i.pinimg.com/originals/88/15/63/881563d6444b370fa4ceea0c3183bb4c.gif);
	background-repeat:no-repeat;
	background-size:cover;
	height:100%;
}

.grid-container-afuera{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
	". titulo titulo ."
	". calculadora calculadora ."
	". calculadora calculadora ."
	". button button .";
}

.titulo{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
	"title title"
	"subtitle subtitle";
	grid-area: titulo;
}

.title{
	color: White;
	text-align: center;
	font-family: 'Tahoma';
	font-size: 3.5vh;
	font-style: normal;
	font-weight: 900;
	grid-area: title;
}

.subtitle{
	color: red;
	text-align: center;
	font-family: 'Tahoma';
	font-size: 3vh;
	font-style: italic;
	font-weight: 800;
	grid-area: subtitle;
}

.calculator{
	background-color:#D8DAD6;
	height:100%;
	width:100%;
	grid-area: calculadora;
}

.boton-perdon{
	Padding: 20px;
	background-color:#FFD133;
	Color:blue;
	border-radius: 50px;
	Font-weight: 900;
	grid-area: button;
}

.perdon{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas:
	 "button button";
	grid-area: button;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
	". . . . ."
	". siete ocho nueve multiplicacion"
	". cuatro cinco seis resta"
	"clear uno dos tres suma"
	". cero punto resultado suma";
}

.suma {
	grid-area: suma;
	border: 6px solid gray;
	background-color: #2d3038;
	border-radius: 29px;
	font-family: fantasy;
	font-size: 61px;
	color: floralwhite;
}

.uno{
	grid-area: uno;
}

.dos{
	grid-area: dos;
}

.tres{
	grid-area: tres;
}

.cuatro{
	grid-area: cuatro;
}

.cinco{
	grid-area: cinco;
}

.seis{
	grid-area: seis;
}

.siete{
	grid-area:  siete;
}

.ocho{
	grid-area: ocho;
}

.nueve{
	grid-area: nueve;
}

.suma{
	grid-area: suma;
}

.cero{
	grid-area: cero;
}

.estilo-boton{
	background-color: #2d3038;
	border-radius: 22px;
	font-family: fantasy;
	font-size: 35px;
	color: floralwhite;
	border: 4px solid gray;
	cursor: pointer;
}

.estilo-boton:hover{
	background-color: gray;
}